<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<link rel="stylesheet" href="static/styles/biblioteca.css">
		<title>Pagina</title>
	</head>
	<body>
		<header class="header">
			<nav>
			   <ul class="nav-links">
					<li><a href="../recomendaciones">Recomendaciones</a></li>
					<li><a href="../catalogo">Catálogo</a></li>
					<li><a href="../noticias">Noticias</a></li>
					<li><a href="#" class="is-active">Biblioteca</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<a href="../carrito">
					<img src="static/img/cart.png" alt="Carrito">
					{% if carrito > 0 %}
						<span class="contador">{{ carrito }}</span>
					{% endif %}
				</a>
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
		<div class ="resumen">
			{% for juego in juegos %}
			<div class = "res-game">
				{{ juego[1] }}
				<img class="photo" src="{{ juego[2] }}" alt="{{ juego[1] }}">
			</div>
			{% endfor %}
		</div>
	</body>
</html>