<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<title>Biblioteca</title>
	</head>
	<body>
		<header class="header">
			<nav>
			   <ul class="nav-links">
					<li><a href="../recomendaciones">Recomendaciones</a></li>
					<li><a href="../catalogo">Catálogo</a></li>
					<li><a href="../noticias">Noticias</a></li>
					<li><a href="#" class="is-active">Biblioteca</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<a href="../carrito">
					<img src="static/img/cart.png" alt="Carrito">
				</a>
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
		<div class ="resumen">
			JUEGOS RECOMENDADOS 
		</div>
	</body>
</html>