<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<link rel="stylesheet" href="static/styles/biblioteca.css">
		<title>Pagina</title>
	</head>
	<body>
		<header class="header">
			<nav>
			   <ul class="nav-links">
					<li><a href="../recomendaciones">Recomendaciones</a></li>
					<li><a href="../catalogo">Catálogo</a></li>
					<li><a href="../noticias">Noticias</a></li>
					<li><a href="#" class="is-active">Biblioteca</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<a href="../carrito">
					<img src="static/img/cart.png" alt="Carrito">
					{% if carrito > 0 %}
						<span class="contador">{{ carrito }}</span>
					{% endif %}
				</a>
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
		<div class ="resumen">
			<h2 class="tit-resumen"> Recientes </h2>
			{% for juego in juegos_j %}
			<div class = "res-game">
				<div class="cont-context">
					<h3 class="subtitulos progreso"> Progreso</h3>
					<img class="icon-progress" src="static/img/progresojuego.png">
					<h3 class="subtitulos logros"> Logros </h3>
					<img class="icon-logro" src="static/img/logrosjuego-mixed.png">
				</div>	
				<img class="photo" src="{{ juego[2] }}" alt="{{ juego[1] }}">
				<h3 class="titulo">{{ juego[1] }}</h3>
			</div>
			{% endfor %}
		</div>
		<div class ="cont-juegos-inst">
			<h2 class="tit-juegos-inst">Tus juegos</h2>	
			<div class="buscador">
				<form action="{{ url_for('.biblioteca') }}" method="post">
					<input type="text" name="nombre" placeholder="busca en tus juegos...">
					<button name="buscar"> buscar</button>
					<button name="filtro" value="alfabetico"> alfabetico</button>
					<button name="filtro" value="instalado"> instalación</button>
					<button name="filtro" value="jugado"> ultima vez jugado</button>
				</form>
			</div>
			<div id="modalJugar" class="modal-pago">
				<div class="modal-content">				
					<h1>Jugando...</h1>
				</div>
			</div>
			<div class="lista" id="lista">
				{% set counter = namespace(value=0) %}
				{% for juego in juegos_i %}
					{% if counter.value == 0 %}
						<div class="row">
					{% endif %}
							{% if instalado[loop.index-1]%}	
							<div class="item">
								<a onclick="jugar()">
									<img src="{{ juego[2] }}" alt="{{ juego[1] }}"><br>{{ juego[1] }}
								</a>
							</div>
							{% else %}
							<div class="item item-noinstalado">
								<a >
									<img src="{{ juego[2] }}" alt="{{ juego[1] }}"><br>{{ juego[1] }}
								</a>
							</div>
							{% endif %}
					{% set counter.value = counter.value + 1 %}
					{% if counter.value  == 5 %}
						{% set counter.value = 0 %}	
						</div>
					{% endif %}
				{% endfor %}
				{% if counter.value  != 0 %}
						</div>
				{% endif %}
			</div>
		</div>
		<script>
		function jugar() {
			var popup = document.getElementById("modalJugar");
			popup.style.display = "block";

			window.onclick = function(event) {
			  if (event.target == popup) {
			    popup.style.display = "none";
			  }
			}
		}
		/*var modal = document.getElementById("modalPago");
		
		var btn = document.getElementById("pago");
		
		var btnClose = document.getElementById("close");
		 
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		
		btnClose.onclick = function() {
		  modal.style.display = "none";
		}*/
	</script>
	</body>
</html>