<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<link rel="stylesheet" href="static/styles/carrito.css">
		<title>>Carrito</title>
	</head>
	<body>
		<header class="header">
			<button onclick="history.back()" class="btn-atras">&#8249;</button>
			<nav>
			   <ul class="nav-links">
					<li><a class="is-active">Carrito</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
		<div id="modalPago" class="modal-pago">
			<div class="modal-content">
			  <div class="pago-box">
				<div class="pago-box-box"></div>
				<button id="close" class="btn-cancelar">CANCELAR</button>
			  </div>
			  <div class="pago-box">
				<h2>Método de pago</h2>
				<img id="pay1" src="static/img/webpay.png" alt="Webpay">
				<img id="pay2" src="static/img/americanexpress.jpg" alt="AmericanExpress">
				<img id="pay3" src="static/img/paypal.jpg" alt="Paypal">
				<img id="pay4" src="static/img/visa.jpg" alt="Visa">
				<button class="btn-pagar btn-pagar-2">PAGAR</button>
			  </div>  
			</div>

		  </div>
		<div class="lista-juegos">
			{% for juego in juegos %}
				<div class="item-carrito">
					<img src="{{ juego[2] }}" alt="{{ juego[1] }}">
					<p>{{ juego[1] }}</p>
					<form action="{{ url_for('.carrito') }}"method="POST">
						<button style="color:red" name="borrar" value="{{ juego[0] }}">borrar</button>
					</form>
				</div>
			{% endfor %}
		</div>
		<div class="subtotal">
			<h2 class="h2-carrito">Subtotal</h2>
			<h2 class="h2-carrito">0</h2>
			<hr class="carrito">
			<h2 class="h2">Cupón de descuento</h2>
			<button id="pago" class="btn-pagar btn-pagar-1">PAGAR</button>
		</div>
		
	</body>
	<script>
		//Cerrar pago
		// Get the modal
		var modal = document.getElementById("modalPago");
		
		// Get the button that opens the modal
		var btn = document.getElementById("pago");
		
		// Get the <btnClose> element that closes the modal
		var btnClose = document.getElementById("close");
		
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		
		// When the user clicks on <btnClose>, close the modal
		btnClose.onclick = function() {
		  modal.style.display = "none";
		}
	</script>
</html>