<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<link rel="stylesheet" href="static/styles/carrito.css">
		<title>Pagina</title>
	</head>
	<body>
		<header class="header">
			<a href="#" class="a a-btn-atras">&#8249;</a>
			<nav>
			   <ul class="nav-links">
					<li><a class="is-active">Carrito</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
		<div class="subtotal">
			<h2 class="h2">Subtotal</h2>
			<h2 class="h2">0</h2>
		</div>
	</body>
</html>