<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<link rel="stylesheet" href="static/styles/carrito.css">
		<title>Carrito</title>
	</head>
	<body>
		<header class="header">
			<button onclick="document.location.href = 'catalogo'" class="btn-atras">&#8249;</button>
			<nav>
			   <ul class="nav-links">
					<li><a class="is-active">Carrito</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
		<div id="modalPago" class="modal-pago">
			<div class="modal-content">				
				<div class="lista-juegos">
					{% for juego in juegos %}
						<div class="item-carrito">
							<img class="caratula" src="{{ juego[2] }}" alt="{{ juego[1] }}">
							<p>{{ juego[1] }}</p>
							<p><strong>${{ precios[loop.index - 1] }} CLP</strong></p>
						</div>
					{% endfor %}
				</div>
				<div class="total">
					<h3>Subtotal ${{ total }} CLP</h2>
					<hr>
					<h2>Total ${{ total }} CLP</h1>
				</div>
				<button id="close" class="btn-cancelar">CANCELAR</button>
			  <div class="pago-box">
				<h2>Método de pago</h2>
				<img id="pay1" src="static/img/webpay.png" alt="Webpay">
				<img id="pay2" src="static/img/americanexpress.jpg" alt="AmericanExpress">
				<img id="pay3" src="static/img/paypal.jpg" alt="Paypal">
				<img id="pay4" src="static/img/visa.jpg" alt="Visa">
				<button class="btn-pagar btn-pagar-2">PAGAR</button>
			  </div>  
			</div>
		</div>

		<div class="lista-juegos">
			{% for juego in juegos %}
				<div id="borrarPopups{{ juego[0] }}" class="modal-borrar">
					<div class="popup-content">
						<h2>¿Desea borrar {{juego[1]}} del carrito?</h2>
						<button class="btn-popup-borrar">No</button>
						<button class="btn-popup-borrar">Sí</button>
					</div>
				</div>
				<div class="item-carrito">
					<img class="caratula" src="{{ juego[2] }}" alt="{{ juego[1] }}">
					<p>{{ juego[1] }}</p>
					<p><strong>${{ precios[loop.index - 1] }} CLP</strong></p>
						<button class="btn-borrar" name="borrar" value="{{ juego[0] }}" onclick="amongas()">
							<img src="static/img/borrar.png" alt="Borrar">
						</button>
				</div>
				<script>
					function amongas() {
						var popup = document.getElementById("borrarPopups{{ juego[0] }}");
						popup.style.display = "block";
					}
				</script>
			{% endfor %}
		</div>
		<div class="subtotal">
			<h2 class="h2-carrito">Subtotal</h2>
			<h2 class="h2-carrito">${{ total }} CLP</h2>
			<hr class="carrito">
			<h2 class="h2">Cupón de descuento</h2>
			<button id="pago" class="btn-pagar btn-pagar-1">PAGAR</button>
		</div>
		
	</body>
	<script>
		/*
			<form action="{{ url_for('.carrito') }}" method="POST">
			</form>
		*/
		var modal = document.getElementById("modalPago");
		
		var btn = document.getElementById("pago");
		
		var btnClose = document.getElementById("close");
		 
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		
		btnClose.onclick = function() {
		  modal.style.display = "none";
		}
	</script>
</html>