<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<link rel="stylesheet" href="static/styles/catalogo.css">
		<link rel="stylesheet" href="static/styles/jquery.paginate.css">
		<script src="//code.jquery.com/jquery.min.js"></script>
		<script src="static/scripts/jquery.paginate.js"></script>

		<title>Pagina</title>
	</head>
	<body>
		<header class="header">
			<nav>
			   <ul class="nav-links">
					<li><a href="http://127.0.0.1:5000/recomendaciones">Recomendaciones</a></li>
					<li><a href="#" class="is-active">Catálogo</a></li>
					<li><a href="http://127.0.0.1:5000/noticias">Noticias</a></li>
					<li><a href="http://127.0.0.1:5000/biblioteca">Biblioteca</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<a href="http://127.0.0.1:5000/carrito">
					<img src="static/img/cart.png" alt="Carrito">
				</a>
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
			<div class="lista" id="lista">
				{% set counter = namespace(value=0) %}
				{% for juego in juegos %}
					{% if counter.value == 0 %}
						<div class="row">
					{% endif %}
							<div class="item">
								<img src="{{ juego[2] }}" alt="{{ juego[1] }}"><br>
								<a>{{ juego[1] }}</a>
							</div>
					{% set counter.value = counter.value + 1 %}
					{% if counter.value  == 5 %}
						{% set counter.value = 0 %}	
						</div>
					{% endif %}
				{% endfor %}
				{% if counter.value  != 0 %}
						</div>
				{% endif %}
			</div>
		<script>
			$('#lista').paginate({
				scope: $('div'),// targets all div elements
			});
		</script>
		
	</body>
</html>