<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<title>Pagina</title>
	</head>
	<body>
		<header class="header">
			<nav>
			   <ul class="nav-links">
					<li><a href="http://127.0.0.1:5000/recomendaciones">Recomendaciones</a></li>
					<li><a href="#" class="is-active">Catálogo</a></li>
					<li><a href="http://127.0.0.1:5000/noticias">Noticias</a></li>
					<li><a href="http://127.0.0.1:5000/biblioteca">Biblioteca</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<a href="http://127.0.0.1:5000/carrito">
					<img src="static/img/cart.png" alt="Carrito">
				</a>
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
	</body>
</html>