<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
		<link rel="stylesheet" href="static/styles/carousel.css">
		<title>Pagina</title>
	</head>
	<body>
		<header class="header">
			<button onclick="history.back()" class="btn-atras">&#8249;</button>
			<nav>
			   <ul class="nav-links">
					<li><a href="http://127.0.0.1:5000/recomendaciones">Recomendaciones</a></li>
					<li><a href="http://127.0.0.1:5000/catalogo" class="is-active">Catálogo</a></li>
					<li><a href="http://127.0.0.1:5000/noticias">Noticias</a></li>
					<li><a href="http://127.0.0.1:5000/biblioteca">Biblioteca</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<a href="http://127.0.0.1:5000/carrito">
					<img src="static/img/cart.png" alt="Carrito">
				</a>
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>
		<div class="container">
			<h1>{{ juego[1] }}</h1>
		</div>
		<div class="detalles"id=detalles1>
			<h2>Calificación</h2>
			<a>Usuarios</a>
			<h2>{{ juego[4] }}</h2>
			<a>Expertos</a>
			<h2>{{ juego[5] }}</h2>
			<h2>Tu calificación</h2>
			<p>(aquí van estrellitas)</p>
			<h2>Precio</h2>
			{% if juego[7] != juego[6] %}
			<h2><s>{{ juego[6] }}</s></h2>
			<h2>{{ juego[7] }}</h2>
			{% else %}
			<h2>{{ juego[6] }}</h2>
			{% endif %}
		</div>
		<div class="detalles" id="detalles2">
			<h2>Descripción</h2>
			<p>{{ juego[3] }}</p>
		</div>
		<div class="detalles" id="detalles3">
			<h2>Editor</h2>
			{% for editor in editores %}
				<p>{{ editor[0] }}</p>
			{% endfor %}
		</div>
		<div class="detalles" id="detalles4">
			<h2>Desarrollador</h2>
			{% for desarrollador in desarrolladores %}
				<p>{{ desarrollador[0] }}</p>
			{% endfor %}
		</div>
		<div class="detalles" id="detalles5">
			<h2>Etiquetas</h2>
			{% for tag in tags %}
				<p>{{ tag[0] }}</p>
			{% endfor %}
		</div>
		<div class="detalles" id="detalles6">
			<h2>Géneros</h2>
			{% for genero in generos %}
				<p>{{ genero[0] }}</p>
			{% endfor %}
		</div>
		
	</body>
</html>