<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/styles/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
		<link rel="stylesheet" href="static/styles/carousel.css">
		<link rel="stylesheet" href="static/styles/carrito.css">
		<title>Catálogo</title>
		<link rel="stylesheet" href="static/styles/juego.css">
	</head>
	<body>
		<header class="header">
			<button onclick="history.back()" class="btn-atras">&#8249;</button>
			<nav>
			   <ul class="nav-links">
					<li><a href="../recomendaciones">Recomendaciones</a></li>
					<li><a href="../catalogo" class="is-active">Catálogo</a></li>
					<li><a href="../noticias">Noticias</a></li>
					<li><a href="../biblioteca">Biblioteca</a></li>
			   </ul>            
			</nav>
			<div class="user-cart">
				<a href="../carrito">
					<img src="static/img/cart.png" alt="Carrito">
					{% if carrito > 0 %}
						<span class="contador">{{ carrito }}</span>
					{% endif %}
				</a>
				<img src="static/img/user.png" alt="Usuario">	
			</div>
		</header>

		<div id="popupCarrito" class="popup-carrito">
			<div class="popup-contentCarrito">
				<h2>¡Juego añadido al carrito!</h2>
				<form action="{{ url_for('.juego',id=juego[0]) }}" method="post">
					<button id="irCatalogo" class="btnPopup" name="comprar" value="catalogo">Volver al catálogo</button>
					<button id="irCarrito" class="btnPopup" name="comprar" value="carrito">Ir al carrito</button>
				</form>
			</div>  
		</div>

		<div class="container">
			<div class="detalles float-child" id="imagenes">
				<h1>{{ juego[1] }}</h1>
				<div class="carousel-container">
				  <!-- Flickity HTML init -->
				  <div class="carousel-nav" >
				    <div class="carousel-cell is-nav-selected"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				  </div>

				  <div class="carousel carousel-main">
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				    <div class="carousel-cell"></div>
				  </div>

				</div>
			</div>
			
			<div class="detalles float-child"id=detalles1>
				<h2>Calificación</h2>
				<div class="float-child">
					<a>Usuarios</a>
					<h2>{{ juego[4] }}</h2>
				</div>
				<div class="float-child">
					<a>Expertos</a>
					<h2>{{ juego[5] }}</h2>
				</div>
				<h2>Tu calificación</h2>
				<p>(aquí van estrellitas)</p>
				<h2>Precio</h2>
				{% if precio == 0 %}
					<h2>Gratis</h2>
				{% elif oferta < precio %}
				<div class="float-child">
					<h2><s>{{ "$" + precio|string +" CLP" }}</s></h2>
				</div>
				<div class="float-child">
					<h2>{{ "$" + oferta|string + " CLP" }}</h2>
				</div>
				{% else %}
				<h2>{{ "$" + precio|string +" CLP" }}</h2>
				{% endif %}
				{% if encarrito%}
					<button class="btn-pagar btn-pagar-3 btn-disabled" name="comprar" value="comprar">
						<img src="static/img/cart.png" alt="Carrito">
						EN CARRITO
					</button>
				{% else %}
					<button id="agregarCarrito" class="btn-pagar btn-pagar-3" name="comprar" value="comprar">
						<img src="static/img/cart.png" alt="Carrito">
						AGREGAR
					</button>
				{% endif %}
			</div>
			<div class="detalles float-child" id="detalles2">
				<h2>Descripción</h2>
				<p>{{ juego[3] }}</p>
			</div>
			<div class="float-child">
				<div class="detalles" id="detalles3">
					<h2>Editor</h2>
					{% for editor in editores %}
						<p>{{ editor[0] }}</p>
					{% endfor %}
				</div>
				<div class="detalles" id="detalles4">
					<h2>Desarrollador</h2>
					{% for desarrollador in desarrolladores %}
						<p>{{ desarrollador[0] }}</p>
					{% endfor %}
				</div>
			</div>
			<div class="detalles" id="detalles5">
				<h2>Etiquetas</h2>
				{% for tag in tags %}
					<p>{{ tag[0] }}</p>
				{% endfor %}
			</div>
			<div class="detalles" id="detalles6">
				<h2>Géneros</h2>
				<p>{{ generos }}</p>
			</div>
		</div>
	</body>
	<script>
		var modalCarrito = document.getElementById("popupCarrito");
		
		var btnAgregar = document.getElementById("agregarCarrito");
		
		
		var btnCarrito = document.getElementById("irCarrito");

		var btnCatalogo = document.getElementById("irCatalogo");
		 
		btnAgregar.onclick = function() {
			modalCarrito.style.display = "block";
		}

		btnCarrito.onclick = function() {
			document.location.href = "carrito";
		}

		btnCatalogo.onclick = function() {
		  document.location.href = "catalogo";
		}
	</script>
	<script >
		// external js: flickity.pkgd.js

var $carousel = $('.carousel').flickity();

var $carouselNav = $('.carousel-nav');
var $carouselNavCells = $carouselNav.find('.carousel-cell');

$carouselNav.on( 'click', '.carousel-cell', function( event ) {
  var index = $( event.currentTarget ).index();
  $carousel.flickity( 'select', index );
});

var flkty = $carousel.data('flickity');
var navTop  = $carouselNav.position().top;
var navCellHeight = $carouselNavCells.height();
var navHeight = $carouselNav.height();

$carousel.on( 'select.flickity', function() {
  // set selected nav cell
  $carouselNav.find('.is-nav-selected').removeClass('is-nav-selected');
  var $selected = $carouselNavCells.eq( flkty.selectedIndex )
    .addClass('is-nav-selected');
  // scroll nav
  var scrollY = $selected.position().top +
    $carouselNav.scrollTop() - ( navHeight + navCellHeight ) / 2;
  $carouselNav.animate({
    scrollTop: scrollY
  });
});
	</script>
</html>