<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- Flickity -->
		<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<link rel="stylesheet" type="text/css" href="static/styles/noticias.css">


		<title>Pagina</title>
	</head>
	<body>
		<h1>Aquí irían las noticias</h1>
		<div class="carousel" data-flickity='{ "autoPlay": true }'>
			<div class="carousel-cell"></div>
			<div class="carousel-cell"></div>
			<div class="carousel-cell"></div>
		</div>
	</body>
</html>