/* external css: flickity.css */
.carousel {
  margin-top: 0 auto;
}

.carousel-cell {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.carousel-cell-noticias {
  background: #0C254F;
}

.carousel-cell-rec {
  background: #082040;
}

.carousel-cell img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: -40px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 24px;
  height: 24px;
  opacity: 1;
  background: transparent;
  border: 3px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-button {
  background: #384D59;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

.flickity-button-icon {
  fill: #0C254F;
}

.flickity-button:hover {
  background: #80F2E7;
}