.container-subtotal {
    display: flex;
    justify-content: flex-end;
}
.subtotal {
    height: 500px;
    width: 600px;
    background-color: #0F2859;
    margin: 25px 50px 75px 100px;
    padding: 20px;
}

.h2-carrito {
    display: inline-block;
    margin-right: 100px;
    margin-top: 20px;
}

hr.carrito {
    margin-top: 20px;
    border: 1px solid #7787A6;
}

.btn-pagar {
    border-radius: 8px;
    border: none;
    padding: 20px 50px;
    color: #FFFF80;
    background-color: #F23568;
    font-size: 13px;
    font-weight: 600;
}
.btn-pagar-1 {
    margin: 150px 201px;
}
.btn-pagar-2 {
    margin: 60px 160px;
}
.btn-pagar-3 {
    padding: 1%;
    font-size: 18px;
    width: 30%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.btn-pagar-3 img {
	width:  15%;
	height: 15%;
}
.btn-pagar:hover {
    background-color: #80F2E7;
    cursor: pointer;
}

.btn-cancelar {
    border-radius: 8px;
    border: none;
    padding: 20px 50px;
    color: #F2F2F2;
    background-color: #082040;
    margin: 70px 50px;
    font-size: 13px;
    font-weight: 600;
}

.btn-cancelar:hover {
    background-color: #80F2E7;
    color: #082040;
    cursor: pointer;
}
/**********************************/
.modal-pago {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    justify-content: center;
    background-color: #0F2859;
    margin: auto;
    border: 1px solid #FFFF80;
    width: 90%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pago-box {
    display: inline-block;
    width: 600px;
    height: 550px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.pago-box-box {
    width: 500px;
    height: 400px;
    background-color: #FDFFB1;
}

.modal-pago img {
    display: inline-block;
    width: 40%;
}

.modal-pago img:hover {
    border: 4px solid #F23568;
}