* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* fondo general */
body {
    background-color: #082040;
}

/****************

                    BARRA DE NAVEGACIÓN

****************/ 
header {
    background-color: #0F2859;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 124px;
    padding: 10px 10%;
}
/* letras de la barra de nav*/
li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:#7787A6;
    text-decoration: none;
}
.btn-atras {
    background-color: Transparent;
    border: none;
    color: #7787A6;
    cursor: pointer;
    font-size: 80px;
}
.btn-atras:hover {
    color: #80F2E7;
}
/* para que no se vea como una lista*/
.nav-links {
    list-style: none;
}
/* para que cada elemento de la lista este uno al lado de otro*/
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
/* para que el cambio sea smooth */
.nav-links li a {
    transition: all 0.3s ease 0s;
}
/* color del texto al poner el mouse encima */
.nav-links li a:hover {
    color: #80F2E7;
}
/* para que salga marcada la sección en la que se esta*/
.nav-links a.is-active {
    color: #80F2E7;
}
/* cambio de cursor */
.header .user-cart{
    cursor: pointer;
}
/* posición y tamaño de carrito/usuario */
.header .user-cart img{
    height: 80px;
    width: auto;
    padding: 9px;
    transition: all 0.3s;
}
/* para que el carrito y foto de usuario se agrande*/
.header .user-cart img:hover{
    transform: scale(1.2);
}
/****************

                    BARRA DE NAVEGACIÓN

****************/ 
/* para las recomendaciones*/
.container {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
    width: 90%;
    padding: 10px;
}
.container-1 {
    margin-bottom: 20px;
}

/* color de texto de la barra de navegación*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #7787A6;
}

/* títulos que no estén en la barra de navegación (Ofertas recomendadas, noticias, etc */
h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: #F2F2F2;
}
/* para que el boton de MÁS en recomendaciones salga al lado de los títulos*/
.h2-recomendaciones {
    display: inline-block;
    margin-top: 30px;
    margin-left: 100px;
}


/* botón MÁS en recomendaciones */
.btn-mas {
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    color: #F2F2F2;
    background-color: #F23568;
    margin: 4px 10px;
    font-size: 13px;
    font-weight: 600;
}
/* MÁS no hace nada, pero le puse efecto para que se note que es un botón */
.btn-mas:hover{
    transform: scale(1.1);
}
/* subtítulo de noticia, juegos en catálogo, y página de juegos texto */
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #7787A6;
}
/* texto de noticias */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #7787A6;
}
